site_name: Xuc's Docs
site_url: https://docs.panxuc.com/
site_author: Xuc Pan
site_description: Xuc's Docs
repo_name: Panxuc/docs
repo_url: https://github.com/Panxuc/docs
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2024 Xuc Pan
theme:
  name: material
  logo: assets/icon.png
  favicon: assets/images/favicon.png
  icon:
    repo: fontawesome/brands/github
  language: zh
  custom_dir: overrides
  font:
    code: JetBrains Mono
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    # - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-7
        name: 浅色模式
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: 深色模式
extra:
  social:
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/panxuc/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/XucPan
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/panxuc/
    - icon: fontawesome/brands/bilibili
      link: https://space.bilibili.com/33071481
    - icon: fontawesome/brands/github
      link: https://panxuc.github.io/
    - icon: fontawesome/brands/steam
      link: https://steamcommunity.com/id/panxuc/
plugins:
  - mkdocs-video
  - search
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  # - pymdownx.betterem:
  #     smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys:
      separator: +
      strict: false
      camel_case: false
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: Panxuc
      repo: docs
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - stylesheets/extra.css
nav:
  - 主页: index.md
  - 作业:
      - coursework/index.md
      - 计算机程序设计基础:
          - coursework/cpd/README.md
          - 加分作业：石头剪刀布: coursework/cpd/1/ex/README.md
          - 加分作业：五子棋: coursework/cpd/2/ex/README.md
          - 附加作业：调查问卷: coursework/cpd/3/ex/README.md
          - 大作业：学生成绩管理系统: coursework/cpd/3/project/README.md
          - 平时作业:
              - 计算机程序设计基础(1):
                  - coursework/cpd/README.md
                  - coursework/cpd/1/01/README.md
                  - coursework/cpd/1/02/README.md
                  - coursework/cpd/1/03/README.md
                  - coursework/cpd/1/04/README.md
                  - coursework/cpd/1/05/README.md
                  - coursework/cpd/1/06/README.md
                  - coursework/cpd/1/07/README.md
                  - coursework/cpd/1/08/README.md
                  - coursework/cpd/1/09/README.md
                  - coursework/cpd/1/10/README.md
                  - coursework/cpd/1/11/README.md
                  - coursework/cpd/1/12/README.md
                  - coursework/cpd/1/13/README.md
                  - coursework/cpd/1/14/README.md
                  - coursework/cpd/1/15/README.md
              - 计算机程序设计基础(2)春季学期:
                  - coursework/cpd/README.md
                  - coursework/cpd/2/01/README.md
                  - coursework/cpd/2/02/README.md
                  - coursework/cpd/2/03/README.md
                  - coursework/cpd/2/04/README.md
                  - coursework/cpd/2/05/README.md
                  - coursework/cpd/2/06/README.md
                  - coursework/cpd/2/07/README.md
                  - coursework/cpd/2/08/README.md
                  - coursework/cpd/2/09/README.md
                  - coursework/cpd/2/10/README.md
                  - coursework/cpd/2/11/README.md
                  - coursework/cpd/2/12/README.md
              - 计算机程序设计基础(2)夏季学期:
                  - coursework/cpd/README.md
                  - coursework/cpd/3/01/README.md
                  - coursework/cpd/3/02/README.md
                  - coursework/cpd/3/03/README.md
      - coursework/pdmes.md
      - 数据与算法:
          - coursework/daa/README.md
          - A + B Problem:
              - 题目: coursework/daa/prob/1001.md
              - 答案: coursework/daa/ans/1001.md
          - The Nth Number in Fibonacci Sequence:
              - 题目: coursework/daa/prob/1002.md
              - 答案: coursework/daa/ans/1002.md
          - 丢失的练习册:
              - 题目: coursework/daa/prob/2023201.md
              - 答案: coursework/daa/ans/2023201.md
          - 军训排队:
              - 题目: coursework/daa/prob/2023202.md
              - 答案: coursework/daa/ans/2023202.md
          - 比武:
              - 题目: coursework/daa/prob/2023203.md
              - 答案: coursework/daa/ans/2023203.md
          - 缺损二叉树:
              - 题目: coursework/daa/prob/2023204.md
              - 答案: coursework/daa/ans/2023204.md
          - 信息传递:
              - 题目: coursework/daa/prob/2023205.md
              - 答案: coursework/daa/ans/2023205.md
          - 跳跳乐:
              - 题目: coursework/daa/prob/2023206.md
              - 答案: coursework/daa/ans/2023206.md
          - 带限矩阵方程组求解:
              - 题目: coursework/daa/prob/2023207.md
              - 答案: coursework/daa/ans/2023207.md
          - 缺失数据恢复:
              - 题目: coursework/daa/prob/2023208.md
              - 答案: coursework/daa/ans/2023208.md
          - 小明的火车旅行计划:
              - 题目: coursework/daa/prob/2023209.md
              - 答案: coursework/daa/ans/2023209.md
  - 文档:
      - doc/index.md
      - Markdown:
          - doc/markdown/index.md
          - doc/markdown/basic.md
          - doc/markdown/mkdocsmaterial.md
      - Typst:
          - doc/typst/index.md
          - doc/typst/basic.md
      - LaTeX:
          - doc/latex/index.md
          - doc/latex/basic.md
          - doc/latex/formula.md
  - 网页:
      - web/index.md
      - HTML:
          - web/html/index.md
          - web/html/basic.md
          - web/html/head.md
          - web/html/input.md
  - 建站:
      - site/index.md
      - site/docker.md
  - 编程:
      - code/index.md
      - code/regex.md
      - C# & .NET:
          - code/csharp/index.md
          - code/csharp/lambda.md
  - 系统:
      - os/index.md
      - Windows:
          - os/windows/windows11.md
      - Linux:
          - os/linux/archlinux.md
          - os/linux/steamos.md
      - os/android.md
  - 硬件:
      - hardware/index.md
  - 工具:
      - tool/index.md
      - tool/git.md
      - tool/vim.md
      - tool/platformio.md
  - 游戏:
      - game/index.md
      - game/mahjong.md
      - game/aceattorney.md
      - game/persona.md
      - Galgame:
          - game/galgame/index.md
          - game/galgame/yuzusoft.md
  - 关于:
      - about/index.md
      - about/license.md
