<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<title>计算机程序设计调查问卷</title>
	<!-- 偷懒，使用Bootstrap的CSS文件 -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1 class="text-center">计算机程序设计调查问卷</h1>
		<!-- 创建一个表单 -->
		<form action="/submit" method="post" enctype="multipart/form-data">
			{% for question in questions %}
			<!-- 获取问题的id、类型、文本、是否必填和选项 -->
			{% set qid = question["id"] %}
			{% set qtype = question["type"] %}
			{% set qtext = question["text"] %}
			{% set qrequired = question["required"] %}
			{% set qoptions = question["options"] %}
			<!-- 创建一个表单组 -->
			<div class="form-group">
				<!-- 必填加上*号 -->
				<label for="{{ qid }}">{{ qtext }}{% if qrequired %}*{% endif %}</label>
				{% if qtype == "text" %}
				<!-- 文本 -->
				<input type="text" class="form-control" id="{{ qid }}" name="{{ qid }}" required="{{ qrequired }}">
				{% elif qtype == "number" %}
				<!-- 数字 -->
				<input type="number" class="form-control" id="{{ qid }}" name="{{ qid }}" required="{{ qrequired }}">
				{% elif qtype == "radio" %}
				<!-- 单选 -->
				{% for option in qoptions %}
				<div class="form-check">
					<input type="radio" class="form-check-input" id="{{ qid }}_{{ option }}" name="{{ qid }}"
						value="{{ option }}" required="{{ qrequired }}">
					<label class="form-check-label" for="{{ qid }}_{{ option }}">{{ option }}</label>
					{% if option == "其他" %}
					<input type="text" class="form-control" id="{{ qid }}_other" name="{{ qid }}_other">
					{% endif %}
				</div>
				{% endfor %}
				{% elif qtype == "checkbox" %}
				<!-- 多选 -->
				{% for option in qoptions %}
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="{{ qid }}_{{ option }}" name="{{ qid }}"
						value="{{ option }}">
					<label class="form-check-label" for="{{ qid }}_{{ option }}">{{ option }}</label>
					{% if option == "其他" %}
					<input type="text" class="form-control" id="{{ qid }}_other" name="{{ qid }}_other">
					{% endif %}
				</div>
				{% endfor %}
				{% elif qtype == "file" %}
				<!-- 文件 -->
				<input type="file" class="form-control-file" id="{{ qid }}" name="{{ qid }}">
				{% endif %}
			</div>
			{% endfor %}
			<!-- 提交按钮 -->
			<button type="submit" class="btn btn-primary">提交</button>
		</form>
	</div>
	<!-- 使用Bootstrap的JS文件和jQuery文件 -->
	<script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>